html
  head
    title Isomorphic Fun
  body
    != reactRender(reactRoute, reactProps)

    unless production
      script(src="http://#{webpackHost}:#{webpackPort}/webpack-dev-server.js")
    script(src=webpackAssetPath('main.js'))
