html
  head
    title Isomorphic Fun
  body
    div#react-root

    unless production
      script(src="http://#{webpackHost}:#{webpackPort}/webpack-dev-server.js")
    script(src=webpackAssetPath('main.js'))
